@CHARSET "EUC-KR";
body{
 text-align: center;
  font-family: 'Open Sans Condensed', arial, sans;
 background-color: #FFFFF8;
}
h1 a {
	color: #FCA205;
	font-size: 80px;
    	font-family: 'Lobster';
}
nav ul 
{
 list-style: none;
 text-align: center;
 border-top: 1px solid #FCA205;
 border-bottom: 1px solid #FCA205;
 padding: 10px 0;
}
nav ul li 
{
 display: inline;
 text-transform: uppercase;
 padding: 0 10px;
 letter-spacing: 10px;
}
nav ul li a 
{
 text-decoration: none;
 color: black;
}
nav ul li a:hover {
 text-decoration: underline;
}
h2{
 text-align : center;
}
.form-style-8 h2{
    background: #4D4D4D;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 30px;
       text-align: center;
    font-weight: 100;
    padding: 20px;
    margin: 30px -30px 60px -30px;
}
.form-style-8 h2 : hover
{
    background:linear-gradient(to bottom, #FCA205 5%, #FFCD12 100%);
    background-color:#FFCD12;
}

.textbox input[type="text"]
{
	    border-top: thin solid  #e5e5e5;
            border-right:thin solid #e5e5e5;
            border-bottom:0;
            border-left:thin solid  #e5e5e5;
            box-shadow:0px 1px 1px 1px #e5e5e5;
            height:40px;
            margin:.8em 0 0 .5em; 
            outline:0;
            padding:.4em 0 .4em .6em; 
            width:70%;
	    align:center; 
 }
.textbox input[type="image"]
{
    cursor:pointer;
    height:48px;
    text-align:center;
    width:50px;
}

.MainTitle 
{
}
.footer
{
color: #F6DB90;
font-family: 'Open Sans Condensed', arial, sans;
}

body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
button.btn_2{
  background:#8f602e;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button.btn_2:hover{
  background:#fff;
  color:#8f602e;
}
button.btn_2:before,button.btn_2:after
{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #8f602e;
  transition:400ms ease all;
}
button.btn_2:after
{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button.btn_2:hover:before,button.btn_2:hover:after
{
  width:100%;
  transition:800ms ease all;
}

table.type04 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
  margin : 20px 10px;
}
table.type04 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table.type04 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

table.type05 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 20px 10px;
}
table.type05 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #efefef;
}
table.type05 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.form-style-1 ul
{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    padding: 20px;
    margin: 30px -30px 60px -30px;
    border-bottom: 2px solid #4D4D4D; 
}


button.btn_3,
button.btn_3::after {
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
    transition: all 0.3s;
}
button.btn_3 {
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
  font-size: 1.2em;
  padding: -3em 6em;
  position: relative;
  height:35px;
  padding:0 1em;
 }
button.btn_3:hover 
{
  color: #B1B1B1;
   font-weight: bold;
}
button.btn_3::after 
{
  background: #FFFFF8;
}
